.grid-container {
  margin: 20px 20px;
  min-height: 1200px;
}
.metrics-tab-header {
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.metrics-tab-title {
  display: flex;
}

.metrics-tab-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


::ng-deep .mat-form-field-underline {
  display: block;
}

::ng-deep .mat-tab-body-content {
  overflow: visible !important;
}
