<div class="grid-container" *ngIf="this.athlete != null">
  <div class="dashboard-title">
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; text-align: center;">
      <h1 class="mat-h1" style="display: block; margin: auto 0 auto 0">Athlete </h1>
    </div>
    <mat-divider style="margin-bottom: 20px;"></mat-divider>
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <app-athlete-information [athlete]="athlete">
      </app-athlete-information>
      <mat-form-field style="width: 250px">
        <mat-label>Session</mat-label>
        <mat-select [(ngModel)]="session" (click)="fetchSessions()" [compareWith]="compareSessions" (ngModelChange)="onSessionChange($event)">
          <mat-option *ngFor="let session of sessions" [value]="session">
            {{session.startTime.toLocaleString()}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="improver-dash-content" *ngIf="session != null">
      <app-current-key-metrics [athlete]="athlete" [session]="session" *ngIf="session.endTime === null"></app-current-key-metrics>
      <app-summary [athlete]="athlete" [session]="session" *ngIf="session.endTime != null"></app-summary>
      <div class="metrics-tab-title">
        <h2 class="mat-h2 metrics-tab-header" style="display: block;">Metric groups</h2>
        <div class="aggregation-configuration">
          <mat-button-toggle-group #group="matButtonToggleGroup"
                                   [(value)]="selectedAggregation" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle *ngFor="let aggregation of aggregations; let isFirst = first"
                               style="text-align: center; width: 60px;" checked="{{isFirst}}" [value]="aggregation.value">
              {{aggregation.display}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <mat-tab-group class="app-mat-tab-group">
        <mat-tab label="ECG">
          <ng-template matTabContent>
            <h3 class="mat-h3 metrics-tab-header" style="display: block;">Group related to ECG signal</h3>
            <span class="mat-expansion-panel-header-description"><i>Metrics that are directly related to electrocardiograph's signal</i></span>
            <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="360px">
              <mat-grid-tile *ngFor="let metric of ecgMetrics" [colspan]="1" [rowspan]="1">
                <app-metric-card [metricInfo]="metric" [cycle]="selectedAggregation" [session]="session">
                </app-metric-card>
              </mat-grid-tile>
            </mat-grid-list>
          </ng-template>
        </mat-tab>
        <mat-tab label="Other">
          <ng-template matTabContent>
            <h3 class="mat-h3 metrics-tab-header" style="display: block;">Group related to movement</h3>
            <span class="mat-expansion-panel-header-description"><i>Metrics that are directly related to movement and displacement</i></span>
            <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="360px">
              <mat-grid-tile *ngFor="let metric of otherMetrics" [colspan]="1" [rowspan]="1">
                <app-metric-card [metricInfo]="metric" [cycle]="selectedAggregation" [session]="session">
                </app-metric-card>
              </mat-grid-tile>
            </mat-grid-list>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
