<div class="athlete-list-container">
  <h2 class="mat-h2">Athletes</h2>
  <div class="athlete-card-list">
    <button mat-stroked-button *ngFor="let athlete of athletes" [routerLink]="['/athlete', athlete.id]">
      <img style="margin: auto" class="card-img avatar-img" [src]="athlete.imageUrl" alt="avatar"/>
      <h3 class="mat-h3" style="text-align: center; margin: auto">
        {{athlete.firstName + ' ' + athlete.lastName}}
      </h3>
    </button>
  </div>
</div>

