button {
  display: block;
  margin: 10px;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  height: 250px;
}

.athlete-list-container {
  display: block;
  margin: 20px;
}

.avatar-img {
  width: 100%;
  max-height: 50%;
  object-fit: contain; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  margin-bottom: 10px;
}

.athlete-card-list {
  display: inline-flex;
  flex-wrap: wrap;
}
