<h2 class="mat-h2 key-metrics-header">Session is active</h2>
<div class="key-metrics-grid-list">
  <mat-grid-list style="height: 300px" cols="2" rowHeight="fit">
    <mat-grid-tile [colspan]="2">
      <div class="key-metrics-tile">
        <mat-card class="key-metrics-card">
          <mat-icon>favorite</mat-icon>
          <p style="font-size: smaller">Training intensity</p>
          <p>{{this.BPMSectionName(this.bpmMetricFetcher.current.max)}}</p>
        </mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="key-metrics-tile">
        <mat-card class="key-metrics-card">
          <mat-icon>directions_run</mat-icon>
          <p style="font-size: smaller">Total steps</p>
          <p>{{this.stepsMetricFetcher.current.max}}</p>
        </mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="key-metrics-tile">
        <mat-card class="key-metrics-card">
          <mat-icon>bathtub</mat-icon>
          <p style="font-size: smaller">Sweating</p>
          <p>{{sweatingMetricFetcher.current.max.toFixed(0)}}%</p>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
