.key-metrics-header {
  margin-top: 10px;
}

.key-metrics-grid-list {
  width: 100%;
  min-width: 300px;
  margin: auto auto 20px;
}

.key-metrics-card {
  text-align: center;
  width: 100%;
  margin: auto;
}

.key-metrics-tile {
  width: 100%;
  height: 100%;
  padding: 8px;
}
