.dashboard-card-content {
  text-align: center;
  align-content: center;
  display: block;
  height: 100%;
}


.graph {
  padding: 10px;
  position: relative;
  overflow-x: scroll;
  width: 100%;
  .graph-container {
    height: 500px;
    width: 100%;
    min-width: 100%
  }
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
