<mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        {{metricInfo.title}}

      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div style="height: 90%;">
        <canvas baseChart [datasets]="chartSeries.data" [labels]="labels" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType"> </canvas>
      </div>
    </mat-card-content>
</mat-card>
