.athlete-information {
  width: 100%;
}

.athlete-information-base {
  width: 100%;
}

.avatar-img {
  width: 3em;
  height: 3em;
  margin-bottom: 1em;
}

.athlete-information-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}

.mat-list-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

::ng-deep.mat-list-item-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

::ng-deep.mat-list-item-ripple {
  width: 100%;
}


