<div *ngIf="athlete != null" class="athlete-information-container">
  <mat-expansion-panel style="padding: 4px 0 4px 0">
    <mat-expansion-panel-header class="athlete-information-base">
      <mat-panel-title >
        <img style="margin: auto" class="card-img avatar-img" [src]="athlete.imageUrl" alt="avatar"/>
      </mat-panel-title>
      <mat-panel-description >
        <p style="text-align: center; margin: auto">
          {{athlete.firstName + ' ' + athlete.lastName}}
        </p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item> <span>Born: </span> <span>{{athlete.birthDate}}</span> </mat-list-item>
      <mat-list-item> <span>Height: </span> <span>{{athlete.height}} cm</span> </mat-list-item>
      <mat-list-item> <span>Weight: </span> <span>{{athlete.weight}} kg</span> </mat-list-item>
      <mat-list-item> <span>Gender: </span> <span>{{athlete.gender.toLocaleLowerCase()}}</span> </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</div>
