<h2 class="mat-h2 key-metrics-header">Session summary</h2>
<div class="key-metrics-grid-list">
  <mat-grid-list style="height: 350px" cols="1" rowHeight="fit">
    <mat-grid-tile>
      <div class="key-metrics-tile">
        <mat-card>
          <h2 class="mat-h2" style="text-align: center">Training intensity</h2>
          <div style="width: 80%; margin: auto;">
            <canvas  height="250px" baseChart [data]="data" [labels]="labels" [chartType]="doughnutChartType" [options]="barChartOptions" [colors]="colors"> </canvas>
          </div>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
