.sidenav-container {
    height: 100%;
  }

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 50;
}

a .mat-icon {
  padding-right: 40px;
}
