@import '~@angular/material/theming';
@include mat-core();

$candy-app-primary: mat-palette($mat-deep-purple);
$candy-app-accent:  mat-palette($mat-deep-purple);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);